In [1]:
# CELL 1 by Mike Grad
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# CELL 2 by Mike Grad
# Assign file paths

# Commented out causes and causes_df throughout code because none of the cause codes in the reference table
# are in the raw datafile. When merging, all rows have NaN for those columns.
file_one = "Resources/Morticd10_part1"
file_two = "Resources/Morticd10_part2"
country_codes = "Resources/country_codes"
population = "Resources/pop"
#causes = "Resources/causes_master_list_final.csv"
sex = "Resources/sex_reference_table.csv"

# open raw mortality data files and merge them
file_one_df = pd.read_csv(file_one, encoding="utf-8")
file_two_df = pd.read_csv(file_two, encoding="utf-8")
country_codes_df = pd.read_csv(country_codes, encoding="utf-8")
population_df = pd.read_csv(population, encoding="utf-8")
#causes_df = pd.read_csv(causes, encoding="utf-8")
sex_df = pd.read_csv(sex, encoding="utf-8")

len(file_one_df)
type(file_one_df)
file_one_df.head()
len(file_one_df)

# verify all columns for file_one_df and file_two_df are identical
columns_one = file_one_df.columns
columns_two = file_two_df.columns

# visually compare column headers. verified all column headers are identical and appear in the same sequence.
print(columns_one)
print(columns_two)

# DO NOT remove header row from file_two_df





file_one_df.head()

# assign df to merged data

C:\Users\small\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\small\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Country', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex', 'Frmat',
       'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')
Index(['Country', 'Admin1', 'SubDiv', 'Year', 'List', 'Cause', 'Sex', 'Frmat',
       'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5',
       'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11',
       'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17',
       'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23',
       'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1', 'IM_Deaths2',
       'IM_Deaths3', 'IM_Deaths4'],
      dtype='object')

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,95.0,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [3]:
# CELL 3 by Mike Grad
# combine file_one_df and file_two_df data
# Sourced from https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
raw_tables = [file_one_df, file_two_df]
combined_data_df = pd.concat(raw_tables)

combined_data_df.head()
len(combined_data_df)

3945138

In [4]:
# CELL 4 by Mike Grad
# merge country codes into combined_data_df
country_codes_df.head()

country_codes_df = country_codes_df.rename(columns={"country": "Country"})
combined_data_df = pd.merge(combined_data_df, country_codes_df, on="Country", how="left")

# DEBUG!! name not renamed to Country Name
country_codes_df = combined_data_df.rename(columns={"name": "Country Name"})
combined_data_df

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,name
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN,Seychelles
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN,Seychelles
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,Seychelles
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,Seychelles
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,Seychelles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3945133,4070,NaN,NaN,2017,103,Y86,1,2,1,39,...,4.0,4.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Finland
3945134,4070,NaN,NaN,2017,103,Y86,2,2,1,20,...,3.0,9.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Finland
3945135,4070,NaN,NaN,2017,103,Y87,1,2,1,2,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Finland
3945136,4070,NaN,NaN,2017,103,Y87,2,2,1,2,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Finland
3945137,4070,NaN,NaN,2017,103,Y89,1,2,1,1,...,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,Finland

In [5]:
# CELL 5 by Mike Grad
# Create dataframe with only the rows of the countries of interest:  United States of America, Canada, United Kingdom, New Zealand, and Brazil.  India and China are not in the extracted dataset.

# Extract list of countires in combined_data_df
countries_list = combined_data_df["name"].unique()
countries_dict = {"Country Name": countries_list}
countries_df = pd.DataFrame(countries_dict)
countries_df

countries_df = countries_df.sort_values("Country Name")

# Verify spelling for countries of interest by exporting full list of countries and inspecting csv
countries_df.to_csv("Output/countries.csv", index=False, header=True)

country_filtered_df = combined_data_df.loc[(combined_data_df["name"] == "United States of America") | (combined_data_df["name"] == "Canada") |
                                          (combined_data_df["name"] == "United Kingdom") | (combined_data_df["name"] == "New Zealand") |
                                          (combined_data_df["name"] == "Brazil"), :]

country_filtered_df

# 578025 rows
print(len(country_filtered_df))

# export df to csv and inspect in XL
country_filtered_df.to_csv("Output/country_filtered_raw_data.csv", index=False, header=True)

# drop na
# 0 rows left if do a dropna
country_filtered_nona_df = country_filtered_df.dropna()

# DEBUG!! -- SKIP
# replace NaN values with ""
country_filtered_df

# Test if sum and mean will work with NaN values in some of the columns - test on IM_Deaths2 (which has NaN entries for brazil)
# Visual inspection of the data in MS Excel showed no string values in columns containing mortality numbers
#country_filtered_df["IM_Deaths2"].mean()

#country_filtered_df["Total"] = ""

#for i in range(len(country_filtered_df["IM_Deaths1"])):
#    country_filtered_df.iloc[i, -1] = country_filtered_df.iloc[i, -6] + country_filtered_df.iloc[i, -5] + country_filtered_df.iloc[i, -4] + country_filtered_df.iloc[i, -3]

country_filtered_df
countries_df

578025

                 Country Name
113                   Andorra
31                   Anguilla
32        Antigua and Barbuda
33                  Argentina
121                   Armenia
..                        ...
73   United States of America
75                    Uruguay
28                 Uzbekistan
76                  Venezuela
74       Virgin Islands (USA)

[141 rows x 1 columns]

In [6]:
# CELL 5.01
# Merge in population info

# FIXED: -- merging changes len from 578,025 rows to 6,244,231 rows -- WHY???
# -- needed to add "Sex" as key to merge on
# country_codes_df = country_codes_df.rename(columns={"country": "Country"})
age_adj_df = pd.merge(combined_data_df, population_df, on=["Country", "Year", "Sex"], how="left")

age_adj_df.columns
print(len(combined_data_df))
print(len(age_adj_df))
age_adj_df

3945138
3945138

,Country,Admin1_x,SubDiv_x,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,...,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3945133,4070,NaN,NaN,2017,103,Y86,1,2,1,39,...,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0
3945134,4070,NaN,NaN,2017,103,Y86,2,2,1,20,...,189169.5,193333.0,155460.0,118162.5,88738.0,64173.5,29216.5,7385.5,0.0,24647.0
3945135,4070,NaN,NaN,2017,103,Y87,1,2,1,2,...,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0
3945136,4070,NaN,NaN,2017,103,Y87,2,2,1,2,...,189169.5,193333.0,155460.0,118162.5,88738.0,64173.5,29216.5,7385.5,0.0,24647.0
3945137,4070,NaN,NaN,2017,103,Y89,1,2,1,1,...,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0

In [7]:
# CELL 5.01b
# Verify pop columns do not have nan values


# Deaths1 (all) = 0
# Deaths2 (year 0) = 4484
# Deaths3 (year 1) = 4484
# Deaths4 (year 2) = 330281
# Deaths5 (year 3) = 330281
# Deaths6 (year 4) = 330281
# Deaths7 (years 5-9) = 4484
# Deaths8 (years 10-14) = 9260
# Deaths9 (years 15-19) = 4484
# Deaths10 (years 20-24) = 9260
# Deaths11 (years 25-29) = 4484
# Deaths12 (years 30-34) = 9260
# Deaths13 (years 35-39) = 4484
# Deaths14 (years 40-44) = 9260
# Deaths15 (years 45-49) = 4484
# Deaths16 (years 50-54) = 9260
# Deaths17 (years 55-59) = 4484
# Deaths18 (years 60-64) = 9260
# Deaths19 (years 61-69) = 4484
# Deaths20 (years 70-74) = 9584
# Deaths21 (years 75-79) = 4808
# Deaths22 (years 80-84) = 27151
# Deaths23 (years 85-89) = 27151
# Deaths24 (years 90-94) = 913599
# Deaths25 (years 95 and up) = 913599
# Deaths26 (age unspecified) = 4484

# Country = 0
# Year = 0
# List = 0
# Cause = 0
# Sex = 0
age_adj_df['Deaths26'].isnull().sum()
len(age_adj_df)

3945138

In [8]:
# CELL 5.02
# Create age adjusted death rates (deaths per 1000 people)

# 
age_adj_df["age_adj_death1"] = age_adj_df["Deaths1"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death2"] = age_adj_df["Deaths2"] * age_adj_df["Pop2"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death3"] = age_adj_df["Deaths3"] * age_adj_df["Pop3"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death4"] = age_adj_df["Deaths4"] * age_adj_df["Pop4"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death5"] = age_adj_df["Deaths5"] * age_adj_df["Pop5"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death6"] = age_adj_df["Deaths6"] * age_adj_df["Pop6"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death7"] = age_adj_df["Deaths7"] * age_adj_df["Pop7"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death8"] = age_adj_df["Deaths8"] * age_adj_df["Pop8"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death9"] = age_adj_df["Deaths9"] * age_adj_df["Pop9"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death10"] = age_adj_df["Deaths10"] * age_adj_df["Pop10"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death11"] = age_adj_df["Deaths11"] * age_adj_df["Pop11"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death12"] = age_adj_df["Deaths12"] * age_adj_df["Pop12"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death13"] = age_adj_df["Deaths13"] * age_adj_df["Pop13"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death14"] = age_adj_df["Deaths14"] * age_adj_df["Pop14"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death15"] = age_adj_df["Deaths15"] * age_adj_df["Pop15"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death16"] = age_adj_df["Deaths16"] * age_adj_df["Pop16"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death17"] = age_adj_df["Deaths17"] * age_adj_df["Pop17"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death18"] = age_adj_df["Deaths18"] * age_adj_df["Pop18"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death19"] = age_adj_df["Deaths19"] * age_adj_df["Pop19"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death20"] = age_adj_df["Deaths20"] * age_adj_df["Pop20"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death21"] = age_adj_df["Deaths21"] * age_adj_df["Pop21"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death22"] = age_adj_df["Deaths22"] * age_adj_df["Pop22"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death23"] = age_adj_df["Deaths23"] * age_adj_df["Pop23"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death24"] = age_adj_df["Deaths24"] * age_adj_df["Pop24"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death25"] = age_adj_df["Deaths25"] * age_adj_df["Pop25"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_death26"] = age_adj_df["Deaths26"] * age_adj_df["Pop26"] / age_adj_df["Pop1"] * 1000
age_adj_df["age_adj_deathIM"] = age_adj_df["IM_Deaths1"] * age_adj_df["Lb"] / age_adj_df["Pop1"] * 1000
age_adj_df.columns

Index(['Country', 'Admin1_x', 'SubDiv_x', 'Year', 'List', 'Cause', 'Sex',
       'Frmat_x', 'IM_Frmat', 'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4',
       'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10',
       'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16',
       'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22',
       'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26', 'IM_Deaths1',
       'IM_Deaths2', 'IM_Deaths3', 'IM_Deaths4', 'name', 'Admin1_y',
       'SubDiv_y', 'Frmat_y', 'Pop1', 'Pop2', 'Pop3', 'Pop4', 'Pop5', 'Pop6',
       'Pop7', 'Pop8', 'Pop9', 'Pop10', 'Pop11', 'Pop12', 'Pop13', 'Pop14',
       'Pop15', 'Pop16', 'Pop17', 'Pop18', 'Pop19', 'Pop20', 'Pop21', 'Pop22',
       'Pop23', 'Pop24', 'Pop25', 'Pop26', 'Lb', 'age_adj_death1',
       'age_adj_death2', 'age_adj_death3', 'age_adj_death4', 'age_adj_death5',
       'age_adj_death6', 'age_adj_death7', 'age_adj_death8', 'age_adj_death9',
       'age_adj_death10', 'age_adj_death11', 'age_adj_death12',
       'age_adj_death13', 'age_adj_death14', 'age_adj_death15',
       'age_adj_death16', 'age_adj_death17', 'age_adj_death18',
       'age_adj_death19', 'age_adj_death20', 'age_adj_death21',
       'age_adj_death22', 'age_adj_death23', 'age_adj_death24',
       'age_adj_death25', 'age_adj_death26', 'age_adj_deathIM'],
      dtype='object')

In [9]:
# CELL 5.03 by Mike Grad
# Create new age bins

age_adj_df["Total Deaths"] = age_adj_df["age_adj_death1"]
age_adj_df["Under 1 Yr Old"] = age_adj_df["age_adj_death2"]
age_adj_df["Age 1 Through 4"] = age_adj_df["age_adj_death3"] + age_adj_df["age_adj_death4"] + age_adj_df["age_adj_death5"] + age_adj_df["age_adj_death6"]
age_adj_df["Age 5 Through 19"] = age_adj_df["age_adj_death7"] + age_adj_df["age_adj_death8"] + age_adj_df["age_adj_death9"]
age_adj_df["Age 20 Through 24"] = age_adj_df["age_adj_death10"]
age_adj_df["Age 25 Through 34"] = age_adj_df["age_adj_death11"] + age_adj_df["age_adj_death12"]
age_adj_df["Age 35 Through 44"] = age_adj_df["age_adj_death13"] + age_adj_df["age_adj_death14"]
age_adj_df["Age 45 Through 64"] = age_adj_df["age_adj_death15"] + age_adj_df["age_adj_death16"] + age_adj_df["age_adj_death17"] + age_adj_df["age_adj_death18"]
age_adj_df["Age 65 Through 79"] = age_adj_df["age_adj_death19"] + age_adj_df["age_adj_death20"] + age_adj_df["age_adj_death21"]
age_adj_df["Age 80 and Above"] = age_adj_df["age_adj_death22"] + age_adj_df["age_adj_death23"] + age_adj_df["age_adj_death24"] + age_adj_df["age_adj_death25"]
age_adj_df["Unspecified Age"] = age_adj_df["age_adj_death26"]

age_adj_df["Unspecified Age"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
3945133    0.0
3945134    0.0
3945135    0.0
3945136    0.0
3945137    0.0
Name: Unspecified Age, Length: 3945138, dtype: float64

In [ ]:
# CELL 5.03a by Mike Grad

# Get a list of all column names
# Sourced from https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)
age_adj_df.head()

In [10]:
# CELL 5.04 by Mike Grad
# Remove Unneeded columns from age_adj_df

# FIXED:  DEBUG!! KeyError: 'Admin1'
# Remove NaN columns Admin1 SubDiv
del age_adj_df["Admin1_x"]
del age_adj_df["SubDiv_x"]

# Remove Unneeded columns
del age_adj_df["List"]
del age_adj_df["Frmat_x"]
del age_adj_df["IM_Frmat"]


# Delete columns with high NaN counts
del age_adj_df["IM_Deaths2"]
del age_adj_df["IM_Deaths3"]
del age_adj_df["IM_Deaths4"]


# Rename Sex_x as Sex
age_adj_df = age_adj_df.rename(columns={"Sex_x": "Sex"})
age_adj_df.columns

Index(['Country', 'Year', 'Cause', 'Sex', 'Deaths1', 'Deaths2', 'Deaths3',
       'Deaths4', 'Deaths5', 'Deaths6', 'Deaths7', 'Deaths8', 'Deaths9',
       'Deaths10', 'Deaths11', 'Deaths12', 'Deaths13', 'Deaths14', 'Deaths15',
       'Deaths16', 'Deaths17', 'Deaths18', 'Deaths19', 'Deaths20', 'Deaths21',
       'Deaths22', 'Deaths23', 'Deaths24', 'Deaths25', 'Deaths26',
       'IM_Deaths1', 'name', 'Admin1_y', 'SubDiv_y', 'Frmat_y', 'Pop1', 'Pop2',
       'Pop3', 'Pop4', 'Pop5', 'Pop6', 'Pop7', 'Pop8', 'Pop9', 'Pop10',
       'Pop11', 'Pop12', 'Pop13', 'Pop14', 'Pop15', 'Pop16', 'Pop17', 'Pop18',
       'Pop19', 'Pop20', 'Pop21', 'Pop22', 'Pop23', 'Pop24', 'Pop25', 'Pop26',
       'Lb', 'age_adj_death1', 'age_adj_death2', 'age_adj_death3',
       'age_adj_death4', 'age_adj_death5', 'age_adj_death6', 'age_adj_death7',
       'age_adj_death8', 'age_adj_death9', 'age_adj_death10',
       'age_adj_death11', 'age_adj_death12', 'age_adj_death13',
       'age_adj_death14', 'age_adj_death15', 'age_adj_death16',
       'age_adj_death17', 'age_adj_death18', 'age_adj_death19',
       'age_adj_death20', 'age_adj_death21', 'age_adj_death22',
       'age_adj_death23', 'age_adj_death24', 'age_adj_death25',
       'age_adj_death26', 'age_adj_deathIM', 'Total Deaths', 'Under 1 Yr Old',
       'Age 1 Through 4', 'Age 5 Through 19', 'Age 20 Through 24',
       'Age 25 Through 34', 'Age 35 Through 44', 'Age 45 Through 64',
       'Age 65 Through 79', 'Age 80 and Above', 'Unspecified Age'],
      dtype='object')

In [11]:
# CELL 5.04a by Mike Grad

# Get a list of all column names
# Sourced from https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)
age_adj_df.head()

,Country,Year,Cause,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Admin1_y,SubDiv_y,Frmat_y,Pop1,Pop2,Pop3,Pop4,Pop5,Pop6,Pop7,Pop8,Pop9,Pop10,Pop11,Pop12,Pop13,Pop14,Pop15,Pop16,Pop17,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb,age_adj_death1,age_adj_death2,age_adj_death3,age_adj_death4,age_adj_death5,age_adj_death6,age_adj_death7,age_adj_death8,age_adj_death9,age_adj_death10,age_adj_death11,age_adj_death12,age_adj_death13,age_adj_death14,age_adj_death15,age_adj_death16,age_adj_death17,age_adj_death18,age_adj_death19,age_adj_death20,age_adj_death21,age_adj_death22,age_adj_death23,age_adj_death24,age_adj_death25,age_adj_death26,age_adj_deathIM,Total Deaths,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age
0,1400,2001,1000,1,332,8.0,2.0,NaN,NaN,NaN,1.0,NaN,9.0,NaN,21.0,NaN,36.0,NaN,39.0,NaN,53.0,NaN,68.0,NaN,95.0,NaN,NaN,NaN,NaN,0.0,8.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400,2001,1000,2,222,11.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,2.0,NaN,12.0,NaN,13.0,NaN,21.0,NaN,48.0,NaN,112.0,NaN,NaN,NaN,NaN,0.0,11.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400,2001,1001,1,24,0.0,0.0,NaN,NaN,NaN,0.0,NaN,1.0,NaN,3.0,NaN,7.0,NaN,2.0,NaN,3.0,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400,2001,1001,2,14,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,NaN,1.0,NaN,4.0,NaN,0.0,NaN,6.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400,2001,1002,1,0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# CELL 5.05 by Mike Grad
age_adj_df

# DEBUG!! -- age_adj_reduced_df = 0 rows.  LEAVE all NaNs in place
# Remove rows with NaNs
# age_adj_df has 6,244,231 rows
# dropna reduces the dataframe to 0 rows!!
#age_adj_reduced_df = age_adj_df.dropna()
#age_adj_reduced_df

,Country,Year,Cause,Sex,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Admin1_y,SubDiv_y,Frmat_y,Pop1,Pop2,Pop3,Pop4,Pop5,Pop6,Pop7,Pop8,Pop9,Pop10,Pop11,Pop12,Pop13,Pop14,Pop15,Pop16,Pop17,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb,age_adj_death1,age_adj_death2,age_adj_death3,age_adj_death4,age_adj_death5,age_adj_death6,age_adj_death7,age_adj_death8,age_adj_death9,age_adj_death10,age_adj_death11,age_adj_death12,age_adj_death13,age_adj_death14,age_adj_death15,age_adj_death16,age_adj_death17,age_adj_death18,age_adj_death19,age_adj_death20,age_adj_death21,age_adj_death22,age_adj_death23,age_adj_death24,age_adj_death25,age_adj_death26,age_adj_deathIM,Total Deaths,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age
0,1400,2001,1000,1,332,8.0,2.0,NaN,NaN,NaN,1.0,NaN,9.0,NaN,21.0,NaN,36.0,NaN,39.0,NaN,53.0,NaN,68.0,NaN,95.0,NaN,NaN,NaN,NaN,0.0,8.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400,2001,1000,2,222,11.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,2.0,NaN,12.0,NaN,13.0,NaN,21.0,NaN,48.0,NaN,112.0,NaN,NaN,NaN,NaN,0.0,11.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400,2001,1001,1,24,0.0,0.0,NaN,NaN,NaN,0.0,NaN,1.0,NaN,3.0,NaN,7.0,NaN,2.0,NaN,3.0,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400,2001,1001,2,14,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,NaN,1.0,NaN,4.0,NaN,0.0,NaN,6.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400,2001,1002,1,0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3945133,4070,2017,Y86,1,39,0.0,0.0,NaN,NaN,NaN,1.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,2.0,2.0,5.0,6.0,6.0,2.0,4.0,4.0,NaN,NaN,0.0,0.0,Finland,NaN,NaN,0.0,2715729.0,26406.0,27932.0,29334.0,30223.0,30855.0,158126.5,153174.5,152704.5,169905.5,180383.5,182840.0,179517.0,168858.0,169148.0,186625.5,181216.5,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0,0.014361,0.0,0.0,NaN,NaN,NaN,58.226171,0.0,56.229653,0.0,66.42176,67.326305,0.0,186.53334,62.284565,137.440444,133.456983,331.958748,396.085913,299.932725,67.193744,85.662450,47.062133,NaN,NaN,0.0,0.0,0.014361,0.0,NaN,114.455824,0.0,133.748065,186.53334,665.140741,763.212382,NaN,0.0
3945134,4070,2017,Y86,2,20,0.0,0.0,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,3.0,3.0,9.0,NaN,NaN,0.0,0.0,Finland,NaN,NaN,0.0,2792484.5,25465.5,26767.0,27915.0,28733.5,29392.5,151354.0,146622.5,144655.0,161490.5,170698.5,171576.0,169034.0,159922.0,164705.5,184620.0,183894.5,189169.5,193333.0,155460.0,118162.5,88738.0,64173.5,29216.5,7385.5,0.0,24647.0,0.007162,0.0,0.0,NaN,NaN,NaN,0.000000,0.0,51.801541,0.0,0.00000,0.000000,0.0,0.00000,0.000000,66.113169,0.000000,67.742363,138.466659,0.000000,126.943408,95.332311,206.827110,NaN,NaN,0.0,0.0,0.007162,0.0,NaN,51.801541,0.0,0.000000,0.00000,133.855533,265.410068,NaN,0.0
3945135,4070,2017,Y87,1,2,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,Finland,NaN,NaN,0.0,2715729.0,26406.0,27932.0,29334.0,30223.0,30855.0,158126.5,153174.5,152704.5,169905.5,180383.5,182840.0,179517.0,168858.0,169148.0,186625.5,181216.5,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0,0.000736,0.0,0.0,NaN,NaN,NaN,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,66.391750,66.014319,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.0,0.0,0.000736,0.0,NaN,0.000000,0.0,0.000000,0.00000,66.391750,66.014319,NaN,0.0
3945136,4070,2017,Y87,2,2,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,Finland,NaN,NaN,0.0,2792484.5,25465.5,26767.0,27915.0,28733.5,29392.5,151354.0,146622.5,144655.0,161490.5,170698.5,171576.0,169034.0,159922.0,164705.5,184620.0,183894.5,189169.5,193333.0,155460.0,118162.5,88738.0,64173.5,29216.5,7385.5,0.0,24647.0,0.000716,0.0,0.0,NaN,NaN,NaN,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,67.742363,69.233330,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.0,0.0,0.000716,0.0,NaN,0.000000,0.0,0.000000,0.00000,67.742363,69.233330,NaN,0.0
3945137,4070,2017,Y89,1,1,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,Finland,NaN,NaN,0.0,2715729.0,26406.0,27932.0,29334.0,30223.0,30855.0,158126.5,153174.5,152704.5,169905.5,180383.5,182840.0,179517.0,168858.0,169148.0,186625.5,181216.5,180302.0,179277.0,135756.0,91240.0,58159.0,31952.0,10147.5,1646.0,0.0,25674.0,0.000368,0.0,0.0,NaN,NaN,NaN,0.000000,0.0,0.000000,0.0,0.00000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.765533,NaN,NaN,0.0,0.0,0.000368,0.0,NaN,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,NaN,0.0

In [13]:
# CELL 5.06 by Mike Grad
# create new df with only columns of interest
age_adj_reduced_df = age_adj_df[["Country", "Year", "Cause", "Sex", 'Total Deaths', 'Under 1 Yr Old', \
                                'Age 1 Through 4', 'Age 5 Through 19', 'Age 20 Through 24', 'Age 25 Through 34', \
                                'Age 35 Through 44', 'Age 45 Through 64', 'Age 65 Through 79', 'Age 80 and Above', \
                                'Unspecified Age', 'Pop1', "name"]]
age_adj_reduced_df.head()

,Country,Year,Cause,Sex,Total Deaths,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Pop1,name
0,1400,2001,1000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles
1,1400,2001,1000,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles
2,1400,2001,1001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles
3,1400,2001,1001,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles
4,1400,2001,1002,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles

In [14]:
# CELL 5.07 by Mike Grad
# merge Country name into age_adj_reduced_df

# DEBUG!! merged file too big
#age_adj_reduced_df = pd.merge(age_adj_reduced_df, country_codes_df, on="Country", how="left")
len(age_adj_reduced_df)

3945138

In [16]:
# CELL 5.08 by Mike Grad
# create separate dfs for each country for age_adjusted data
# DEBUG!! age_adj_<COUNTRY>_df has 0 rows in each case -- why???

# usa data. country 2450
age_adj_usa_df = age_adj_reduced_df.loc[(age_adj_reduced_df["name"] == "United States of America"), :]

# DEBUG!! SyntaxError: invalid syntax
# canada data. coutnry - 2090
age_adj_can_df = age_adj_reduced_df.loc[(age_adj_reduced_df["name"] == "Canada"), :]

# uk data. country - 4308
age_adj_uk_df = age_adj_reduced_df.loc[(age_adj_reduced_df["name"] == "United Kingdom"), :]

# new zealand data - country 5150
age_adj_nz_df = age_adj_reduced_df.loc[(age_adj_reduced_df["name"] == "New Zealand"), :]

# brazil. country 2070
age_adj_bz_df = age_adj_reduced_df.loc[(age_adj_reduced_df["name"] == "Brazil"), :]
age_adj_usa_df

,Country,Year,Cause,Sex,Total Deaths,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Pop1,name
630372,2450,1999,A009,1,0.000008,0.000000,NaN,0.0,0.000000,0.0,0.000000,0.000000,32.539143,NaN,0.0,133276559.0,United States of America
630373,2450,1999,A020,1,0.000045,0.000000,NaN,0.0,68.902229,0.0,0.000000,37.274237,22.937289,NaN,0.0,133276559.0,United States of America
630374,2450,1999,A020,2,0.000050,0.000000,NaN,0.0,0.000000,0.0,80.547417,48.005665,61.292054,NaN,0.0,139414254.0,United States of America
630375,2450,1999,A021,1,0.000098,14.647234,NaN,0.0,68.902229,0.0,82.824647,97.287978,174.947389,NaN,0.0,133276559.0,United States of America
630376,2450,1999,A021,2,0.000072,13.397267,NaN,0.0,0.000000,0.0,0.000000,0.000000,193.007854,NaN,0.0,139414254.0,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886615,2450,2017,Y883,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America
3886616,2450,2017,Y890,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America
3886617,2450,2017,Y891,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America
3886618,2450,2017,Y899,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America
3886619,2450,2017,Y899,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America

In [18]:
# CELL 5.09 by Mike Grad
# write age_adj country dfs to csvs
# Commented out due to bug with canada data
# age_adj_can_df

age_adj_usa_df.to_csv("Output/age_adj_usa_df.csv", index=False, header=True)
age_adj_can_df.to_csv("Output/age_adj_can_df.csv", index=False, header=True)
age_adj_uk_df.to_csv("Output/age_adj_uk_df.csv", index=False, header=True)
age_adj_nz_df.to_csv("Output/age_adj_nz_df.csv", index=False, header=True)
age_adj_bz_df.to_csv("Output/age_adj_bz_df.csv", index=False, header=True)

In [19]:
# Troubleshooting
population_df

,Country,Admin1,SubDiv,Year,Sex,Frmat,Pop1,Pop2,Pop3,Pop4,Pop5,Pop6,Pop7,Pop8,Pop9,Pop10,Pop11,Pop12,Pop13,Pop14,Pop15,Pop16,Pop17,Pop18,Pop19,Pop20,Pop21,Pop22,Pop23,Pop24,Pop25,Pop26,Lb
0,1060,NaN,NaN,1980,1,7,1.371000e+05,3400.000000,15800.000000,NaN,NaN,NaN,39200.00000,NaN,22700.00000,NaN,12600.00000,NaN,12600.00000,NaN,7800.00000,NaN,8200.000000,NaN,5300.000000,NaN,2900.000000,NaN,NaN,NaN,NaN,6500.0,5000.0
1,1060,NaN,NaN,1980,2,7,1.590000e+05,4000.000000,18400.000000,NaN,NaN,NaN,45400.00000,NaN,26300.00000,NaN,14600.00000,NaN,14600.00000,NaN,9100.00000,NaN,9500.000000,NaN,6200.000000,NaN,3400.000000,NaN,NaN,NaN,NaN,7500.0,6000.0
2,1125,NaN,NaN,1955,1,2,5.051500e+06,150300.000000,543400.000000,NaN,NaN,NaN,615300.00000,603000.00000,501600.00000,414700.00000,379600.00000,356200.0000,376000.00000,293000.00000,242300.00000,210900.00000,110900.000000,110200.000000,51100.000000,41600.000000,14300.000000,11800.0,25300.0,NaN,NaN,0.0,253329.0
3,1125,NaN,NaN,1955,2,2,5.049400e+06,145200.000000,551000.000000,NaN,NaN,NaN,613400.00000,600700.00000,502200.00000,422000.00000,428100.00000,342800.0000,365100.00000,255100.00000,228900.00000,199800.00000,108900.000000,122100.000000,51100.000000,50700.000000,15800.000000,18000.0,28500.0,NaN,NaN,0.0,237901.0
4,1125,NaN,NaN,1956,1,2,5.353700e+06,158700.000000,576600.000000,NaN,NaN,NaN,653000.00000,639400.00000,531500.00000,439400.00000,402200.00000,377300.0000,398500.00000,310600.00000,256500.00000,223400.00000,117700.000000,116900.000000,54100.000000,44000.000000,14900.000000,12400.0,26600.0,NaN,NaN,0.0,250022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9530,5198,NaN,NaN,2018,2,3,3.260365e+05,8015.096596,7986.494468,7975.603354,7968.61169,7962.636894,39831.00157,38769.41976,34669.79841,28458.31845,24915.26327,23502.8376,20916.74711,18804.27792,15779.47958,11404.17516,9100.389873,6422.052069,5257.338854,3744.042066,4552.898314,NaN,NaN,NaN,NaN,0.0,NaN
9531,5200,NaN,NaN,2003,1,4,5.171100e+04,1156.000000,5045.000000,NaN,NaN,NaN,6495.00000,6338.00000,6183.00000,5252.00000,3652.00000,3102.0000,2814.00000,2261.00000,1938.00000,1627.00000,1454.000000,1390.000000,1193.000000,859.000000,952.000000,NaN,NaN,NaN,NaN,0.0,1433.0
9532,5200,NaN,NaN,2003,2,4,4.969300e+04,1065.000000,4713.000000,NaN,NaN,NaN,6067.00000,5578.00000,5588.00000,4967.00000,3557.00000,3011.0000,2724.00000,2381.00000,2151.00000,1861.00000,1642.000000,1406.000000,1122.000000,854.000000,1006.000000,NaN,NaN,NaN,NaN,0.0,1348.0
9533,4270,NaN,NaN,2016,1,0,9.627987e+06,103747.000000,102424.000000,99243.000000,94877.00000,94373.000000,539774.00000,539954.00000,554176.00000,547696.00000,687939.00000,671157.0000,774004.00000,777702.00000,860299.00000,533083.00000,624819.000000,625134.000000,498426.000000,319761.000000,280223.000000,181896.0,86140.0,26456.0,4182.0,502.0,105622.0
9534,4270,NaN,NaN,2016,2,0,1.007844e+07,98053.000000,96605.000000,93721.000000,89589.00000,89323.000000,511229.00000,510691.00000,525358.00000,516184.00000,636701.00000,627927.0000,745504.00000,739040.00000,816865.00000,521619.00000,665659.000000,725681.000000,625364.000000,445853.000000,449108.000000,318337.0,164301.0,54724.0,9744.0,1257.0,100151.0

In [20]:
# Troubleshooting
new_population_df = population_df.groupby(['Country', 'Year']).sum().reset_index()
population_df
country_filtered_df

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4,name
183198,2070,NaN,NaN,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
183199,2070,NaN,NaN,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
183200,2070,NaN,NaN,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
183201,2070,NaN,NaN,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
183202,2070,NaN,NaN,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901606,2070,NaN,NaN,2017,104,Y883,1,0,8,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,3.0,2.0,2.0,3.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
3901607,2070,NaN,NaN,2017,104,Y883,2,0,8,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,2.0,0.0,0.0,NaN,NaN,NaN,Brazil
3901608,2070,NaN,NaN,2017,104,Y890,2,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Brazil
3901609,2070,NaN,NaN,2017,104,Y899,1,0,8,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0,2.0,3.0,4.0,4.0,3.0,3.0,9.0,1.0,5.0,4.0,5.0,5.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,Brazil
3901610,2070,NaN,NaN,2017,104,Y899,2,0,8,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,0.0,2.0,2.0,1.0,4.0,2.0,3.0,1.0,0.0,NaN,NaN,NaN,Brazil

In [21]:
# CELL 5.50 by Mike Grad
# Merge population_df with country_filtered_new_bins_df so crude death rate can be calculated
# crude death rate = death count / population count * 1000 = deaths per 1000 people

# FIXED: NameError: name 'country_filtered_new_bins_df' is not defined
# FIXED: number of rows after merge is not right.  Needed to add "Sex" as key to merge on
country_filtered_new_bins_df = pd.merge(country_filtered_df, population_df, on=["Country", "Year", "Sex"], how="left")
country_filtered_new_bins_df

len(country_filtered_df)

# 773311
len(country_filtered_new_bins_df)
country_filtered_new_bins_df
#new_df = country_filtered_new_bins_df.dropna("Admin1_y")

# 578025
len(country_filtered_new_bins_df)

#country_filtered_new_bins_df

578025

In [22]:
# CELL 5.51 by Mike Grad
# Delete unneeded population columns

# DEBUG!! KeyError: 'Admin1'
del country_filtered_new_bins_df["Pop2"]
del country_filtered_new_bins_df["Pop3"]
del country_filtered_new_bins_df["Pop4"]
del country_filtered_new_bins_df["Pop5"]
del country_filtered_new_bins_df["Pop6"]
del country_filtered_new_bins_df["Pop7"]
del country_filtered_new_bins_df["Pop8"]
del country_filtered_new_bins_df["Pop9"]
del country_filtered_new_bins_df["Pop10"]
del country_filtered_new_bins_df["Pop11"]
del country_filtered_new_bins_df["Pop12"]
del country_filtered_new_bins_df["Pop13"]
del country_filtered_new_bins_df["Pop14"]
del country_filtered_new_bins_df["Pop15"]
del country_filtered_new_bins_df["Pop16"]
del country_filtered_new_bins_df["Pop17"]
del country_filtered_new_bins_df["Pop18"]
del country_filtered_new_bins_df["Pop19"]
del country_filtered_new_bins_df["Pop20"]
del country_filtered_new_bins_df["Pop21"]
del country_filtered_new_bins_df["Pop22"]
del country_filtered_new_bins_df["Pop23"]
del country_filtered_new_bins_df["Pop24"]
del country_filtered_new_bins_df["Pop25"]
del country_filtered_new_bins_df["Pop26"]
del country_filtered_new_bins_df["Lb"]
del country_filtered_new_bins_df["Admin1_y"]
del country_filtered_new_bins_df["SubDiv_y"]

In [23]:
# CELL 5.51b by Mike Grad
# Delete remainder of unnecessary columns
# del country_filtered_new_bins_df["Sex"]
del country_filtered_new_bins_df["Frmat_y"]

del country_filtered_new_bins_df["Admin1_x"]
del country_filtered_new_bins_df["SubDiv_x"]
del country_filtered_new_bins_df["IM_Deaths2"]
del country_filtered_new_bins_df["IM_Deaths3"]
del country_filtered_new_bins_df["IM_Deaths4"]

# Get a list of all column names
# Sourced from https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN

In [24]:
# CELL 5.51a by Mike Grad

# Get a list of all column names
# Sourced from https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN

In [25]:
# CELL 5.52 by Mike Grad
country_filtered_new_bins_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578020,2070,2017,104,Y883,1,0,8,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,3.0,2.0,2.0,3.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,Brazil,NaN
578021,2070,2017,104,Y883,2,0,8,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,2.0,0.0,0.0,Brazil,NaN
578022,2070,2017,104,Y890,2,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN
578023,2070,2017,104,Y899,1,0,8,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0,2.0,3.0,4.0,4.0,3.0,3.0,9.0,1.0,5.0,4.0,5.0,5.0,0.0,1.0,0.0,0.0,Brazil,NaN
578024,2070,2017,104,Y899,2,0,8,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,0.0,2.0,2.0,1.0,4.0,2.0,3.0,1.0,0.0,Brazil,NaN

In [26]:
# CELL 6 by Mike Grad
# Define new age bins for infants (< 30 days old and < 1 yr), and toddlers (age 1 through 4)

# Infant Mortality
#country_filtered_new_bins_df = country_filtered_df
country_filtered_new_bins_df["Infant"] = country_filtered_new_bins_df["IM_Deaths1"]
country_filtered_new_bins_df["Under 1 Yr Old"] = country_filtered_new_bins_df["Deaths2"]
country_filtered_new_bins_df["Age 1 Through 4"] = country_filtered_new_bins_df["Deaths3"] + country_filtered_new_bins_df["Deaths4"] + country_filtered_new_bins_df["Deaths5"] + country_filtered_new_bins_df["Deaths6"]
country_filtered_new_bins_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578020,2070,2017,104,Y883,1,0,8,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,3.0,2.0,2.0,3.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
578021,2070,2017,104,Y883,2,0,8,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,2.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
578022,2070,2017,104,Y890,2,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
578023,2070,2017,104,Y899,1,0,8,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0,2.0,3.0,4.0,4.0,3.0,3.0,9.0,1.0,5.0,4.0,5.0,5.0,0.0,1.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0
578024,2070,2017,104,Y899,2,0,8,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,0.0,2.0,2.0,1.0,4.0,2.0,3.0,1.0,0.0,Brazil,NaN,0.0,0.0,0.0

In [27]:
# CELL 7 by Mike Grad
# Define new age bins for children ages 5 through 19
country_filtered_new_bins_df["Age 5 Through 19"] = country_filtered_new_bins_df["Deaths7"] + country_filtered_new_bins_df["Deaths8"] + country_filtered_new_bins_df["Deaths9"] + country_filtered_new_bins_df["Deaths6"]
country_filtered_new_bins_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578020,2070,2017,104,Y883,1,0,8,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,3.0,2.0,2.0,3.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0
578021,2070,2017,104,Y883,2,0,8,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,2.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0
578022,2070,2017,104,Y890,2,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0
578023,2070,2017,104,Y899,1,0,8,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,4.0,2.0,3.0,4.0,4.0,3.0,3.0,9.0,1.0,5.0,4.0,5.0,5.0,0.0,1.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,2.0
578024,2070,2017,104,Y899,2,0,8,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,2.0,0.0,2.0,2.0,1.0,4.0,2.0,3.0,1.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0

In [28]:
# CELL 8 by Mike Grad
# Define new age bins for young adults (ages 20 - 24)
country_filtered_new_bins_df["Age 20 Through 24"] = country_filtered_new_bins_df["Deaths10"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0

In [29]:
# CELL 9 by Mike Grad
# Define new age bins for adults (ages 25 - 34)
country_filtered_new_bins_df["Age 25 Through 34"] = country_filtered_new_bins_df["Deaths11"] + country_filtered_new_bins_df["Deaths12"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0

In [30]:
# CELL 10 by Mike Grad
# Define new age bins for adults (ages 35 - 44)
country_filtered_new_bins_df["Age 35 Through 44"] = country_filtered_new_bins_df["Deaths13"] + country_filtered_new_bins_df["Deaths14"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [31]:
# CELL 11 by Mike Grad
# Define new age bins for adults (ages 45 - 64)
country_filtered_new_bins_df["Age 45 Through 64"] = country_filtered_new_bins_df["Deaths15"] + country_filtered_new_bins_df["Deaths16"] + country_filtered_new_bins_df["Deaths17"] + country_filtered_new_bins_df["Deaths18"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

In [32]:
# CELL 12 by Mike Grad
# Define new age bins for adults (ages 65 - 79)
country_filtered_new_bins_df["Age 65 Through 79"] = country_filtered_new_bins_df["Deaths19"] + country_filtered_new_bins_df["Deaths20"] + country_filtered_new_bins_df["Deaths21"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [33]:
# CELL 13 by Mike Grad
# Define new age bins for adults (ages 80+)
country_filtered_new_bins_df["Age 80 and Above"] = country_filtered_new_bins_df["Deaths22"] + country_filtered_new_bins_df["Deaths23"] + country_filtered_new_bins_df["Deaths24"] + country_filtered_new_bins_df["Deaths25"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0,2.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [34]:
# CELL 13 by Mike Grad
# Define new age bins for adults (ages 80+)
country_filtered_new_bins_df["Unspecified Age"] = country_filtered_new_bins_df["Deaths26"]
country_filtered_new_bins_df.head()

# Write to csv -- commented out. file is too large as is for github 
#country_filtered_new_bins_df.to_csv("Output/country_filtered_new_bins_df.csv", index=False, header=True)

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0,2.0,0.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [35]:
# CELL 13.01 by Mike Grad
# inspect colum IM_Deaths1 for nan
# IM_Deaths1 (live birth age 0) = 0
# IM_Deaths2 (1-6 days) = 302713
# IM_Deaths3 (7-27 days) = 302713
# IM_Deaths4 (28=364 days) = 302713
# Deaths1 (all) = 0
# Deaths2 (year 0) = 0
# Deaths3 (year 1) = 0
# Deaths4 (year 2) = 38437
# Deaths5 (year 3) = 38437
# Deaths6 (year 4) = 38437
# Deaths7 (years 5-9) = 0
# Deaths8 (years 10-14) = 0
# Deaths9 (years 15-19) = 0
# Deaths10 (years 20-24) = 0
# Deaths11 (years 25-29) = 0
# Deaths12 (years 30-34) = 0
# Deaths13 (years 35-39) = 0
# Deaths14 (years 40-44) = 0
# Deaths15 (years 45-49) = 0
# Deaths16 (years 50-54) = 0
# Deaths17 (years 55-59) = 0
# Deaths18 (years 60-64) = 0
# Deaths19 (years 61-69) = 0
# Deaths20 (years 70-74) = 0
# Deaths21 (years 75-79) = 0
# Deaths22 (years 80-84) = 0
# Deaths23 (years 85-89) = 0
# Deaths24 (years 90-94) = 61310
# Deaths25 (years 95 and up) = 61310
# Deaths26 (age unspecified) = 0

# Country = 0
# Year = 0
# List = 0
# Cause = 0
# Sex = 0
# Pop1 = 382739
# len country_filtered_new_bins_df = 773311
country_filtered_new_bins_df['Pop1'].isnull().sum()

382743

In [36]:
# CELL 13.02 by Mike Grad
# DATA STRATEGY
# 0 Verify no nan in country, year, list, sex, frmat, im_frmat
# Remove unneeded columns List, Frmat, IM_Frmat
# 1. Done - pull in population data 
# 2. Done - inspect population data for nulls
# 3. Done - remove colummn Admin1 and SubDiv as they have NaN's as well
# 4. Done - remove nan columns IM_Deaths2-4
# 5. Done - remove nan for columns Deaths4-6, Deaths24-25
# 6. TO DO - calculate crude death rate = DR / TOTAL POPULATION *1000 = DR per 1000 people
# NOT CALCULATING CRUDE DEATH RATE PER AGE BRACKET OF POPULATION
#
# Conver Sex Code to Sex Label for age_adj_df and country_filtered_new_bins_df
# Merge Cause with xl table for age_adj_df and country_filtered_new_bins_df

country_filtered_new_bins_df.columns

Index(['Country', 'Year', 'List', 'Cause', 'Sex', 'Frmat_x', 'IM_Frmat',
       'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5', 'Deaths6',
       'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11', 'Deaths12',
       'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17', 'Deaths18',
       'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23', 'Deaths24',
       'Deaths25', 'Deaths26', 'IM_Deaths1', 'name', 'Pop1', 'Infant',
       'Under 1 Yr Old', 'Age 1 Through 4', 'Age 5 Through 19',
       'Age 20 Through 24', 'Age 25 Through 34', 'Age 35 Through 44',
       'Age 45 Through 64', 'Age 65 Through 79', 'Age 80 and Above',
       'Unspecified Age'],
      dtype='object')

In [37]:
# CELL 13.03 by Mike Grad

# Deleted columns in earlier code block - commented out
# Remove NaN columns Admin1 SubDiv
# del country_filtered_new_bins_df["Admin1_x"]
# del country_filtered_new_bins_df["SubDiv_x"]

# Remove Unneeded columns
# del country_filtered_new_bins_df["List"]
# del country_filtered_new_bins_df["Frmat_x"]
# del country_filtered_new_bins_df["IM_Frmat"]

# Delete columns with high NaN counts
# del country_filtered_new_bins_df["IM_Death2"]
# del country_filtered_new_bins_df["IM_Death3"]
# del country_filtered_new_bins_df["IM_Death4"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0,2.0,0.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [38]:
# CELL 13.04 by Mike Grad
# Remove rows with NaNs
# country_filtered_new_bins_df has 578025 rows
# DEBUG!!  -- dropna reduces the dataframe to 271467 rows!! now it is reduced to 345474 rows.  Row count seems off.
reduced_df = country_filtered_new_bins_df.dropna()
reduced_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age
172883,2450,1999,104,A009,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
172884,2450,1999,104,A020,1,0,1,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,0.0
172885,2450,1999,104,A020,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,United States of America,139414254.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0,0.0
172886,2450,1999,104,A021,1,0,1,13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,2.0,0.0
172887,2450,1999,104,A021,2,0,1,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,2.0,1.0,0.0,0.0,0.0,United States of America,139414254.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554449,5150,2015,104,Y871,1,0,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
554450,5150,2015,104,Y883,1,0,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0
554451,5150,2015,104,Y883,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,New Zealand,2338470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0,0.0
554452,5150,2015,104,Y891,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
554453,5150,2015,104,Y899,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [39]:
# CELL 14 by Mike Grad
# DEBUG!! Why is total = NaN
# Define new age bins for all age bins
country_filtered_new_bins_df["Total"] = country_filtered_new_bins_df["Deaths2"] + country_filtered_new_bins_df["Deaths3"] + \
country_filtered_new_bins_df["Deaths4"] + country_filtered_new_bins_df["Deaths5"] + country_filtered_new_bins_df["Deaths6"] + \
country_filtered_new_bins_df["Deaths7"] + country_filtered_new_bins_df["Deaths8"] + country_filtered_new_bins_df["Deaths9"] + \
country_filtered_new_bins_df["Deaths10"] + country_filtered_new_bins_df["Deaths11"] + country_filtered_new_bins_df["Deaths12"] + \
country_filtered_new_bins_df["Deaths13"] + country_filtered_new_bins_df["Deaths14"] + country_filtered_new_bins_df["Deaths15"] + \
country_filtered_new_bins_df["Deaths16"] + country_filtered_new_bins_df["Deaths17"] + country_filtered_new_bins_df["Deaths18"] + \
country_filtered_new_bins_df["Deaths19"] + country_filtered_new_bins_df["Deaths20"] + country_filtered_new_bins_df["Deaths21"] + \
country_filtered_new_bins_df["Deaths22"] + country_filtered_new_bins_df["Deaths23"] + country_filtered_new_bins_df["Deaths24"] + \
country_filtered_new_bins_df["Deaths25"] + country_filtered_new_bins_df["Deaths26"]

country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0,2.0,0.0,13.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0

In [40]:
# CELL 15 by Mike Grad
# verify data types for each column
country_filtered_new_bins_df.dtypes

Country                int64
Year                   int64
List                  object
Cause                 object
Sex                    int64
Frmat_x                int64
IM_Frmat               int64
Deaths1                int64
Deaths2              float64
Deaths3              float64
Deaths4              float64
Deaths5              float64
Deaths6              float64
Deaths7              float64
Deaths8              float64
Deaths9              float64
Deaths10             float64
Deaths11             float64
Deaths12             float64
Deaths13             float64
Deaths14             float64
Deaths15             float64
Deaths16             float64
Deaths17             float64
Deaths18             float64
Deaths19             float64
Deaths20             float64
Deaths21             float64
Deaths22             float64
Deaths23             float64
Deaths24             float64
Deaths25             float64
Deaths26             float64
IM_Deaths1           float64
name                  object
Pop1                 float64
Infant               float64
Under 1 Yr Old       float64
Age 1 Through 4      float64
Age 5 Through 19     float64
Age 20 Through 24    float64
Age 25 Through 34    float64
Age 35 Through 44    float64
Age 45 Through 64    float64
Age 65 Through 79    float64
Age 80 and Above     float64
Unspecified Age      float64
Total                float64
dtype: object

In [41]:
# CELL 16 by Mike Grad

# Done in earlier block of code
# Remove NaN columns Admin1 SubDiv
# del country_filtered_new_bins_df["Admin1_x"]
# del country_filtered_new_bins_df["SubDiv_x"]
country_filtered_new_bins_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total
0,2070,1996,104,A000,1,0,8,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2070,1996,104,A001,1,0,8,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2070,1996,104,A001,2,0,8,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
3,2070,1996,104,A009,1,0,8,13,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0,2.0,2.0,0.0,13.0
4,2070,1996,104,A009,2,0,8,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Brazil,NaN,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0

In [42]:
# CELL 17 by Mike Grad
country_filtered_new_bins_df.describe()

,Country,Year,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total
count,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,5.780250e+05,578025.000000,578025.000000,539588.000000,539588.000000,539588.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,516715.000000,516715.000000,578025.000000,578025.000000,1.952820e+05,578025.000000,578025.000000,539588.000000,539588.000000,578025.000000,578025.000000,578025.000000,578025.000000,578025.000000,516715.000000,578025.000000,5.167150e+05
mean,2630.709807,2006.411283,1.574148,0.172565,4.665916,3.186047e+02,7.558656,0.600237,0.327880,0.232867,0.188814,0.692960,0.874232,2.896069,4.173871,4.293932,4.787014,5.840111,7.740416,10.514798,13.955082,17.521419,21.327974,25.486123,30.689008,36.828898,41.793317,42.040645,28.819972,13.390720,0.556754,5.744129,6.245779e+07,5.744129,7.558656,1.381717,4.922456,4.173871,9.080946,13.580527,63.319272,93.004029,128.949475,0.556754,3.416636e+02
std,962.420802,6.053222,0.973583,0.525149,3.496068,1.176926e+04,284.897875,22.929269,11.965156,8.427249,6.835013,25.667495,32.757627,123.877855,179.791362,177.551573,188.307086,220.698586,287.782225,393.485749,531.349405,673.802190,811.685353,953.316463,1138.964528,1384.579280,1617.215615,1654.672921,1265.936129,656.949275,30.165685,247.036918,5.900268e+07,247.036918,284.897875,50.676873,191.598962,179.791362,365.316471,507.056239,2398.760792,3461.547409,5268.111271,30.165685,1.241148e+04
min,2070.000000,1996.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.893150e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00
25%,2070.000000,2001.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.599558e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00
50%,2090.000000,2006.000000,1.000000,0.000000,8.000000,4.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.123182e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000e+00
75%,2450.000000,2012.000000,2.000000,0.000000,8.000000,2.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.416610e+08,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,4.000000,4.000000,3.000000,0.000000,2.200000e+01
max,5150.000000,2017.000000,9.000000,2.000000,8.000000,1.439111e+06,42097.000000,3469.000000,1568.000000,1076.000000,857.000000,3556.000000,4620.000000,18192.000000,24445.000000,22585.000000,23204.000000,24466.000000,34967.000000,49279.000000,68507.000000,98650.000000,126948.000000,145258.000000,158673.000000,174853.000000,203635.000000,224047.000000,202170.000000,124829.000000,6851.000000,42097.000000,1.529678e+08,42097.000000,42097.000000,6914.000000,24159.000000,24445.000000,45715.000000,58164.000000,329139.000000,467436.000000,720264.000000,6851.000000,1.439111e+06

In [43]:
# CELL 18 by Mike Grad
# Find rows with IM_Deaths1. ID what years and which countries
#IM_Deaths1_nan_df = country_filtered_new_bins_df.loc[["IM_Deaths1"] == "NaN", :]
#IM_Deaths1_nan_df

# Sourced from https://stackoverflow.com/questions/14247586/how-to-select-rows-with-one-or-more-nulls-from-a-pandas-dataframe-without-listin
# DEBUG!! NaN not listed
null_df = country_filtered_new_bins_df[pd.isnull(country_filtered_new_bins_df).any(axis=1)]
null_df["Under 1 Yr Old"].value_counts()

# List all Nans from Under 1 Yr Old Column
# 0 rows returned
# Sourced from https://stackoverflow.com/questions/43831539/how-to-select-rows-with-nan-in-particular-column/43831589
no_nans_1_df = country_filtered_new_bins_df[country_filtered_new_bins_df['IM_Deaths1'].isnull()]

# find NaN rows from IM_Deaths1
# 0 rows returned
# sourced from https://stackoverflow.com/questions/43831539/how-to-select-rows-with-nan-in-particular-column/43831589
no_nans_1_df = country_filtered_new_bins_df.loc[country_filtered_new_bins_df['IM_Deaths1'].isnull()]
#no_nans_1_df = country_filtered_new_bins_df[country_filtered_new_bins_df['IM_Deaths1'].isnull()]


#--------------
# FIXED:  drop na did nto work.
# FIXED:  now it produces 0 rows
# ----------------
no_nans_df = country_filtered_new_bins_df.dropna()
no_nans_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total
172883,2450,1999,104,A009,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
172884,2450,1999,104,A020,1,0,1,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,0.0,6.0
172885,2450,1999,104,A020,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,United States of America,139414254.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0,0.0,7.0
172886,2450,1999,104,A021,1,0,1,13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,2.0,0.0,13.0
172887,2450,1999,104,A021,2,0,1,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,2.0,1.0,0.0,0.0,0.0,United States of America,139414254.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554449,5150,2015,104,Y871,1,0,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0
554450,5150,2015,104,Y883,1,0,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,5.0
554451,5150,2015,104,Y883,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,New Zealand,2338470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0,0.0,7.0
554452,5150,2015,104,Y891,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
554453,5150,2015,104,Y899,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [44]:
# CELL 19 by Mike Grad
# Did not convert Sex Code to Sex Label for age_adj_df and country_filtered_new_bins_df
# MERGE CAUSE reference table with no_nans_df

# DEBUG!! all cause codes appear in raw data file are not in the cause reference table
# so there is not map of cause code to desciption of cause of death

# DEBUG!!  causes_df merges with NaN values for all values
#cause_counts = no_nans_df["Cause"].value_counts()
#cause_counts.to_csv("Output/raw_causes.csv", index=False, header=True)

# Commented out because with all rows NaNs, then dropna later, the dataframe is reduced to 0 rows
#no_nans_df = pd.merge(no_nans_df, causes_df, on="Cause", how="left")
#no_nans_df

In [45]:
# CELL 20 by Mike Grad
# Merge Sex Code reference table with Sex Label to no_nans_df

# Rename columns Sex_x to sex
no_nans_df = no_nans_df.rename(columns={"Sex_x": "Sex"})

no_nans_df = pd.merge(no_nans_df, sex_df, on="Sex", how="left")
no_nans_df

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total,Sex Label
0,2450,1999,104,A009,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Male
1,2450,1999,104,A020,1,0,1,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,0.0,6.0,Male
2,2450,1999,104,A020,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,United States of America,139414254.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0,0.0,7.0,Female
3,2450,1999,104,A021,1,0,1,13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,2.0,0.0,13.0,Male
4,2450,1999,104,A021,2,0,1,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,2.0,1.0,0.0,0.0,0.0,United States of America,139414254.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,10.0,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172732,5150,2015,104,Y871,1,0,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,Male
172733,5150,2015,104,Y883,1,0,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,5.0,Male
172734,5150,2015,104,Y883,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,New Zealand,2338470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0,0.0,7.0,Female
172735,5150,2015,104,Y891,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Male
172736,5150,2015,104,Y899,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Zealand,2257460.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Male

In [46]:
# CELL 21 by Mike Grad
# Calculate crude death rate
# crude death rate = death count / population count * 1000 = deaths per 1000 people
no_nans_df["Infant Mortality"] = no_nans_df["Infant"] / no_nans_df["Pop1"] * 1000
no_nans_df["Infant Under 1 Yr Old"] = no_nans_df["Under 1 Yr Old"] / no_nans_df["Pop1"] * 1000

# from cell 6
no_nans_df["Toddler Age 1 Through 4"] = no_nans_df["Age 1 Through 4"] / no_nans_df["Pop1"] * 1000

# from cell 7
no_nans_df["Child Age 5 Through 19"] = no_nans_df["Age 5 Through 19"] / no_nans_df["Pop1"] * 1000

# from cell 8
no_nans_df["Young Adult Age 20 Through 24"] = no_nans_df["Age 20 Through 24"] / no_nans_df["Pop1"] * 1000

# from cell 9
no_nans_df["Adult Age 25 Through 34"] = no_nans_df["Age 25 Through 34"] / no_nans_df["Pop1"] * 1000

# from cell 10
no_nans_df["Middle Age Adult Age 35 Through 44"] = no_nans_df["Age 35 Through 44"] / no_nans_df["Pop1"] * 1000

# from cell 11
no_nans_df["Older Adult Age 45 Through 64"] = no_nans_df["Age 45 Through 64"] / no_nans_df["Pop1"] * 1000

# from cell 12
no_nans_df["Elderly Age 65 Through 79"] = no_nans_df["Age 65 Through 79"] / no_nans_df["Pop1"] * 1000

# from cell 13
no_nans_df["Older Elderly Age 80 and Above"] = no_nans_df["Age 80 and Above"] / no_nans_df["Pop1"] * 1000

# from cell 13.x
no_nans_df["Unspecified Age"] = no_nans_df["Unspecified Age"] / no_nans_df["Pop1"] * 1000

# FIXED: KeyError: 'Deaths1'
# Total Deaths as crude death rate
no_nans_df["Total Crude Death Rate"] = no_nans_df["Deaths1"] / no_nans_df["Pop1"] * 1000

no_nans_df.columns

Index(['Country', 'Year', 'List', 'Cause', 'Sex', 'Frmat_x', 'IM_Frmat',
       'Deaths1', 'Deaths2', 'Deaths3', 'Deaths4', 'Deaths5', 'Deaths6',
       'Deaths7', 'Deaths8', 'Deaths9', 'Deaths10', 'Deaths11', 'Deaths12',
       'Deaths13', 'Deaths14', 'Deaths15', 'Deaths16', 'Deaths17', 'Deaths18',
       'Deaths19', 'Deaths20', 'Deaths21', 'Deaths22', 'Deaths23', 'Deaths24',
       'Deaths25', 'Deaths26', 'IM_Deaths1', 'name', 'Pop1', 'Infant',
       'Under 1 Yr Old', 'Age 1 Through 4', 'Age 5 Through 19',
       'Age 20 Through 24', 'Age 25 Through 34', 'Age 35 Through 44',
       'Age 45 Through 64', 'Age 65 Through 79', 'Age 80 and Above',
       'Unspecified Age', 'Total', 'Sex Label', 'Infant Mortality',
       'Infant Under 1 Yr Old', 'Toddler Age 1 Through 4',
       'Child Age 5 Through 19', 'Young Adult Age 20 Through 24',
       'Adult Age 25 Through 34', 'Middle Age Adult Age 35 Through 44',
       'Older Adult Age 45 Through 64', 'Elderly Age 65 Through 79',
       'Older Elderly Age 80 and Above', 'Total Crude Death Rate'],
      dtype='object')

In [47]:
# CELL 22 by Mike Grad
# export 2 dataframes:  age_adj_df, no_nans_df for analysis

# commented out as files are too large for github to handle
#age_adj_df.to_csv("Output/age_adj_df.csv", index=False, header=True)
#no_nans_df.to_csv("Output/no_nans_df.csv", index=False, header=True)
no_nans_df.head()

,Country,Year,List,Cause,Sex,Frmat_x,IM_Frmat,Deaths1,Deaths2,Deaths3,Deaths4,Deaths5,Deaths6,Deaths7,Deaths8,Deaths9,Deaths10,Deaths11,Deaths12,Deaths13,Deaths14,Deaths15,Deaths16,Deaths17,Deaths18,Deaths19,Deaths20,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,name,Pop1,Infant,Under 1 Yr Old,Age 1 Through 4,Age 5 Through 19,Age 20 Through 24,Age 25 Through 34,Age 35 Through 44,Age 45 Through 64,Age 65 Through 79,Age 80 and Above,Unspecified Age,Total,Sex Label,Infant Mortality,Infant Under 1 Yr Old,Toddler Age 1 Through 4,Child Age 5 Through 19,Young Adult Age 20 Through 24,Adult Age 25 Through 34,Middle Age Adult Age 35 Through 44,Older Adult Age 45 Through 64,Elderly Age 65 Through 79,Older Elderly Age 80 and Above,Total Crude Death Rate
0,2450,1999,104,A009,1,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Male,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000008,0.000000,0.000008
1,2450,1999,104,A020,1,0,1,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,0.0,6.0,Male,0.0,0.000000,0.0,0.0,0.000008,0.0,0.000000,0.000008,0.000008,0.000023,0.000045
2,2450,1999,104,A020,2,0,1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,United States of America,139414254.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0,0.0,7.0,Female,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000007,0.000007,0.000014,0.000022,0.000050
3,2450,1999,104,A021,1,0,1,13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,United States of America,133276559.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,2.0,0.0,13.0,Male,0.0,0.000008,0.0,0.0,0.000008,0.0,0.000008,0.000015,0.000045,0.000015,0.000098
4,2450,1999,104,A021,2,0,1,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,2.0,1.0,0.0,0.0,0.0,United States of America,139414254.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,10.0,Female,0.0,0.000007,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000043,0.000022,0.000072

In [48]:
# CELL 23 by Mike Grad
# create file with just columns of interest

# FIXED -- Add column cdr_total = Deaths1 / pop1 *1000
# rename "Deaths1" as "Total Deaths"
no_nans_df = no_nans_df.rename(columns={"Deaths1": "Total Deaths"})

reduced_no_nans_df = no_nans_df[["name", "Year", "Cause", "Infant Mortality", \
                                    "Infant Under 1 Yr Old", \
                                     "Toddler Age 1 Through 4", "Child Age 5 Through 19", \
                                     "Young Adult Age 20 Through 24", "Adult Age 25 Through 34", \
                                     "Middle Age Adult Age 35 Through 44", "Older Adult Age 45 Through 64", \
                                     "Elderly Age 65 Through 79", "Older Elderly Age 80 and Above", \
                                     "Unspecified Age", "Total Deaths", "Total Crude Death Rate", \
                                    "Sex Label"]]

# write to csv just usa data un-normalized
reduced_no_nans_df.to_csv("Output/no_nans_df.csv", index=False, header=True)
print("usa file done")

usa file done

In [ ]:
# CELL 30 by Mike Grad
# extract only Brazil's data and find last year of data for Brazil

brazil_no_nans_df = reduced_no_nans_df.loc[(combined_data_df["name"] == "Brazil"), :]
brazil_no_nans_df.head()

In [ ]:
# CELL 31 by Mike Grad
# Plot Total Deaths for Brazil by Year

# DEBUG!! - group by year, country then sum
years = brazil_no_nans_df["Year"]

# DEBUG!! -- KeyError: 'Total Crude Death Rate'
bz_total_deaths = brazil_no_nans_df["Total Crude Death Rate"]

# Plot the world average as a line chart
brazil_no_nans_df.plot(x = "Year", y = "Total Crude Death Rate", color="blue", label="Absolute Death Rate" )

# Create a legend for our chart
plt.legend()
plt.title("Crude Death Rate for Brazil: Deaths / 1000 People")
plt.xlabel("Years")
plt.ylabel("Deaths / 1000 People")

# Show the chart
plt.show()

# CONCLUSION
# Crude death rate for Brazil has remained fairly steady at 9-11 deaths /1000 people from 2005 - 2016

In [ ]:
# Troubleshooting
brazil_no_nans_df.loc[brazil_no_nans_df["name"] == "Brazil"]

In [ ]:
# CELL 32 by Mike Grad
# Plot top 10 causes of all deaths for Brazil for last year of data

brazil_2016_no_nans_df = brazil_no_nans_df.loc[(brazil_no_nans_df["Year"] == 2016), :]
brazil_2016_no_nans_df.head()

# DEBUG!!  Not sorting in descending order
new_df = brazil_2016_no_nans_df.sort_values(by='Total Crude Death Rate', ascending=False)
new_df.head(10)
new_df

In [ ]:
# CELL 33 by Mike Grad
# PLot top 10 leading causes of death in Brazil

# DEBUG!!
# -- only plots 3 causes
# -- all tick description all on the first
# -- list is not the top 10 due to sorting not working
x_axis = brazil_2016_top_ten_df["Cause"]
print(x_axis)
y_axis = brazil_2016_top_ten_df["Total Crude Death Rate"]
cause = brazil_2016_top_ten_df["Cause"].unique()

# tick_locations = []
# for x in x_axis:
  #  tick_locations.append(x)

plt.title("Leading Causes of Death in Brazil")
plt.xlabel("Cause of Death")
plt.ylabel("Number of Deaths per 1000 People")

#plt.xlim(-0.75, len(gyms)-.25)
#plt.ylim(0, max(members) + 5)

plt.bar(x_axis, y_axis, facecolor="red", alpha=0.75, align="center")
#plt.xticks(tick_locations, cause)
plt.show()

In [ ]:
# Troubleshooting

brazil_2016_top_ten_df["Cause"].unique